.tb-Datos table {
   width: 70%;
   border: 1px solid #000;
}
.tb-Datos th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   background-color: gray;
}
.tb-Datos th{
  color: black;
}
.fila-pq{
  width: 10;
  text-align: center;
}
