<div class="container mt-5 mb-5 pb-5 pt-3 ">
    <br>
    <div class="row pt-3 pl-5 pr-5 mb-5 white rounded-sm">
        <div class="col-sm-4">
            <button type="button" class=" btn  btn-light-green btn-block mb-2  rnd btn-sm" disabled> <i class="fas fa-home pr-2"></i>
                Crear perfil de Propietario</button>
        </div>
        <div class="col-sm-4">
            <a type="button" href="addAgente" class=" btn  btn-light-green btn-block mb-2  rnd btn-sm"><i
                    class="fas fa-briefcase pr-2"></i>
                Crear perfil de Agente</a>
        </div>
        <div class="col-sm-4">
            <a type="button" href="addInmo" class="btn  btn-light-green btn-block mb-2  rnd btn-sm"><i class="fas fa-city pr-2"></i>Crear
                perfil de
                Inmobiliaria/Constructora</a>
        </div>
        <hr>
        <div class="col-sm-12">
            <h3 class="mt-3 h4 text-center">Crear perfil de Propietario</h3>

        </div>
        <hr>
        <div class="col-sm-6 text-small">
            <ol class="list-unstyled ">
                <li class="justify"><i class="fas fa-check green-text mr-2"></i>Reciba toda la informacion de los
                    interesados en su anuncio
                </li>
                <li class="justify"><i class="fas fa-check green-text mr-2"></i>Gestione su anuncio en su panel privado
                </li>
                <li class="justify"><i class="fas fa-check green-text mr-2"></i>Contáctese con nosotros para promocionar
                    su anuncio
                </li>
            </ol>
        </div>
        <div class="col-sm-6 text-center">
            <i class=" indigo lighten-2 text-white rounded-circle p-3 mb-1 fas fa-home fa-4x"></i>
        </div>
        <div class="col-sm-12">
            <h5 class="mt-2 ml-5">Formulario de datos</h5>
        </div>
        <form method="POST" action="/addPropietario">
            <div class="row">
                <div class="col-sm-3">
                    <div class="md-form md-outline form-sm">
                        <i class="fas fa-signature prefix grey-text"></i>
                        <input type="text" id="propietario_nombre" name="propietario_nombre" class="form-control"
                            required>
                        <label for="propietario_nombre">Nombre</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form md-outline form-sm">
                        <i class="fas fa-signature prefix grey-text"></i>
                        <input type="text" id="propietario_apellido" name="propietario_apellido" class="form-control"
                            required>
                        <label for="propietario_apellido">Apellido</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline form-sm">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="propietario_correo" name="propietario_correo" class="form-control"
                            required>
                        <label for="propietario_correo">Correo</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline form-sm">
                        <i class="fas fa-key prefix grey-text"></i>
                        <input type="password" id="propietario_contrasena" name="propietario_contrasena"
                            class="form-control" required>
                        <label for="propietario_contrasena">Contraseña</label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="md-form md-outline form-sm">
                        <i class="fas fa-key prefix grey-text"></i>
                        <input type="password" id="propietario_contrasena_n" name="propietario_contrasena_n"
                            class="form-control" required>
                        <label for="propietario_contrasena_n">Repetir Contraseña</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form md-outline form-sm">
                        <i class="fas fa-phone prefix grey-text"></i>
                        <input type="tel" id="propietario_telefono" name="propietario_telefono" class="form-control"
                            required pattern="[0-9]{7,10}" title="Solo números telefónicos">
                        <label for="propietario_telefono">Teléfono</label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="md-form md-outline form-sm">
                        <i class="fas fa-city prefix grey-text"></i>
                        <select class="selectpicker form-control ml-5 pr-5" name="propietario_cobertura" required>
                            <option value="" selected>Ubicación</option>
                            {{#each provincias}}
                            <option value="{{PROV_ID}}">{{PROV_NOMBRE}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <div class="col-sm-6 text-center pt-3">
                    <!-- Default unchecked -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tycCheck" required>
                        <label class="custom-control-label text-small" for="tycCheck">Acepta los <a
                                href="/terminosYcondiciones" target="_blank">Términos y Condiciones</a></label>
                    </div>
                    <button type="button submit" class=" btn  btn-light-green btn-sm rnd"> <i class="fas fa-home pr-2"></i>
                        Crear</button>
                </div>
            </div>
        </form>

    </div>


</div>