<div class="row p-3"></div>
<div class="container mt-5 mb-5 white">

    <div class="row pt-5 mb-5 ml-3 mr-3 pb-3">
        <div class="col-sm-6 pl-5 pr-5 border rounded-lg">
            <img class="img-fluid  mx-auto d-block" src="/imagenes/mision.jpg" style="width: 300px;">
            <h3 class="p-3">MISIÓN</h3>
            <p>{{empresa.EMP_MISION}}</p>
        </div>
        <div class="col-sm-6 pl-5 pr-5 border rounded-lg">
            <img class="img-fluid  mx-auto d-block" src="/imagenes/vision.jpg" style="width: 300px;">
            <h3 class="p-3">VISIÓN</h3>
            <p>{{empresa.EMP_VISION}}</p>
        </div>
        <div class="text-center">
            <a class="btn btn-sm btn-light-green rnd" onclick="goBack()"><i class="fas fa-undo pr-1"></i> Atras</a>
            <a class="btn btn-sm btn-light-green rnd" href="/"><i class="fas fa-home pr-1"></i> Inicio</a>
        </div>
    </div>
</div>
