<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Panel Administracion</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="/adminPanel" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            {{#ifEquals usuario.ADM_TIPO "PRINCIPAL"}}
            <a href="/administradores" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-users-cog mr-3"></i>Administradores</a>
            <a href="/componentes" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-plus-circle mr-3"></i>Administar Componentes
            </a>
            {{/ifEquals}}
            <a href="/adminblog" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-blog mr-3"></i>Blog
            </a>
            <a href="/adminAnuncios" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="/adminUsuarios" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-users mr-3"></i>Administrar Usuarios</a>
            <a href="/adminMensajes" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Mensajes Usuarios</a>
            <a href="/llavesEnMano" class="list-group-item list-group-item-action waves-effect ">
                <i class="far fa-handshake mr-3"></i>Asesoria y Consultas</a>
            <a href="/denuncias" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-exclamation-triangle mr-3"></i>Denuncias</a>
            <a href="/adminCuenta" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="/logout" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-panel white rounded-lg pt-5 mb-5 border">
        <div class="header pt-5">
            <h2 class="font-weight-normal font-italic text-center">Componentes del sistema</h2>
        </div>
        <table class="table table-bordered mt-5">
            <thead>
                <tr>
                    <th>
                        <center>Componente</center>
                    </th>
                    <th>
                        <center>Acción</center>
                    </th>
            </thead>
            <tbody>
                <tr>
                    <td>Tipos de Inmuebles</td>
                    <td>
                        <center><a href="/tiposInmuebles" type="button" class="btn btn-light-green btn-sm m-0 rnd">Gestionar</a>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>Grupo de Características de Inmuebles</td>
                    <td>
                        <center><a href="/grupoCaracteristicas" type="button"
                                class="btn btn-light-green btn-sm m-0 rnd">Gestionar</a></center>
                    </td>
                </tr>
                <tr>
                    <td>Provincias, Cantones y Zonas</td>
                    <td>
                        <center><a href="/provincias" type="button" class="btn btn-light-green btn-sm m-0 rnd">Gestionar</a>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>Preguntas de contacto</td>
                    <td>
                        <center><a href="/preguntas" type="button" class="btn btn-light-green btn-sm m-0 rnd">Gestionar</a>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>Empresa, Misión, Visión, Logo y Promo</td>
                    <td>
                        <center><a href="/adminEmpresa" type="button" class="btn btn-light-green btn-sm m-0 rnd">Gestionar</a>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td>Teléfonos, Correos y Direcciones</td>
                    <td>
                        <center><a href="/adminContactos" type="button" class="btn btn-light-green btn-sm m-0 rnd">Gestionar</a>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>