<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Panel Administracion</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="/adminPanel" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            {{#ifEquals usuario.ADM_TIPO "PRINCIPAL"}}
            <a href="/administradores" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-users-cog mr-3"></i>Administradores</a>
            <a href="/componentes" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-plus-circle mr-3"></i>Administar Componentes
            </a>
            {{/ifEquals}}
            <a href="/adminblog" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-blog mr-3"></i>Blog
            </a>
            <a href="/adminAnuncios" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="/adminUsuarios" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-users mr-3"></i>Administrar Usuarios</a>
            <a href="/adminMensajes" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Mensajes Usuarios</a>
            <a href="/llavesEnMano" class="list-group-item list-group-item-action waves-effect ">
                <i class="far fa-handshake mr-3"></i>Asesoria y Consultas</a>
            <a href="/denuncias" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-exclamation-triangle mr-3"></i>Denuncias</a>
            <a href="/adminCuenta" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="/logout" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content white rounded-lg mb-5  pl-2 pr-2">
        <a type="button" class="btn btn-elegant rnd mt-3" href="/adminUsuarios">Regresar</a>

        <div class="row d-flex justify-content-center">
            <div class="header pt-5">
                <h2 class="font-weight-normal font-italic">Anuncios del Usuario ...</h2>
            </div>
            <h5 class="font-weight-normal font-italic pl-2 pr-2 text-center">Gestiona la relevancia de los anuncios una
                vez establecido el contacto con el cliente</h5>
        </div>
        <table id="example">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>

                        <div class="card">
                            <div class="row">
                                <div class="col-sm-5">
                                    <!--Carousel Wrapper-->
                                    <div id="carousel-example-1z" class="carousel slide carousel-fade"
                                        data-ride="carousel">
                                        <!--Indicators-->
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-1z" data-slide-to="0" class="active">
                                            </li>
                                            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                                        </ol>
                                        <!--/.Indicators-->
                                        <!--Slides-->
                                        <div class="carousel-inner" role="listbox">
                                            <!--First slide-->
                                            <div class="carousel-item active">
                                                <img class="img-fluid"
                                                    src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">
                                            </div>
                                            <!--/First slide-->
                                            <!--Second slide-->
                                            <div class="carousel-item">
                                                <img class="img-fluid"
                                                    src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg">
                                            </div>
                                            <!--/Second slide-->
                                            <!--Third slide-->
                                            <div class="carousel-item">
                                                <img class="img-fluid"
                                                    src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg">
                                            </div>
                                            <!--/Third slide-->
                                        </div>
                                        <!--/.Slides-->
                                        <!--Controls-->
                                        <a class="carousel-control-prev" href="#carousel-example-1z" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-example-1z" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                        <!--/.Controls-->
                                    </div>
                                    <!--/.Carousel Wrapper-->
                                    <div class="d-flex justify-content-between m-3">
                                        <span class="font-weight-bolder">
                                            <i class="deep-purple-text fas fa-expand-arrows-alt"></i>
                                            1000 (m&sup2)
                                        </span>
                                        <span class="font-weight-bolder">
                                            <i class="light-green-text fas fa-bed"></i>
                                            5
                                        </span>
                                        <span class="font-weight-bolder">
                                            <i class="light-blue-text fas fa-bath"></i>
                                            4
                                        </span>
                                        <span class="font-weight-bolder">
                                            <i class="pink-text fas fa-car"></i>
                                            3
                                        </span>
                                    </div>

                                </div>
                                <div class="col-sm-7">
                                    <div class="container m-2">
                                        <a href="#" class="font-weight-bolder">Titulo del anuncio</a>
                                        <p class="font-weight-light ml-3"><i
                                                class="blue-grey-text far fa-calendar-alt"></i>
                                            17/05/2020</p>
                                        <p class="font-weight-light"> Tipo de anuncio</p>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <a type="button" class="btn btn-info btn-sm " href="">Ver</a>

                                            </div>
                                            <div class="col-sm-4 ">
                                                <a type="button" class="btn btn-success btn-sm" href="">Principal</a>

                                            </div>
                                            <div class="col-sm-4 ">
                                                <a type="button" class="btn btn-light btn-sm " href="">Recomendados</a>
                                            </div>
                                            <div class="col-sm-3 ">
                                                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                                    data-target="#bloquearModalAdmin">Bloquear</button>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-danger btn-sm " data-toggle="modal"
                                                    data-target="#eliminarModalAdmin">Eliminar</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<!-- Central Modal Small -->
<div class="modal fade" id="eliminarModalAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <!-- Change class.modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header danger-color">
                <h4 class="modal-title text-white ">Eliminar Anuncio</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta seguro de eliminar el anuncio...?</p>
                <p>Si elimina el anuncio se borraran todos los datos e imagenes registradas</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger btn-sm">Borrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Small -->
<!-- Central Modal Small -->
<div class="modal fade" id="bloquearModalAdmin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <!-- Change class.modal-sm to change the size of the modal -->
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header warning-color">
                <h4 class="modal-title text-white ">Bloquear Anuncio</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Esta seguro de BLoquear el anuncio...?</p>
                <p>Si bloquea el anuncio no podra ser visible en la lista de anuncios y los interesados no se podran
                    poner en contacto</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light btn-sm" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-warning btn-sm">Bloquear</button>
            </div>
        </div>
    </div>
</div>
<!-- Central Modal Small -->