<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Mi Panel</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="/panel" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            <a href="/addAnuncio" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-plus-circle mr-3"></i>Nuevo Anuncio
            </a>
            <a href="/listAnuncios" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="/listMensajes" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-envelope-open mr-3"></i>Mensajes</a>
            <a href="/contactar" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-headset mr-3"></i>Contáctese con Nosotros</a>
            <a href="/cuenta" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="/logout" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-panel white rounded-lg mb-5 pl-3 pr-3 border">
        <a type="button" class="btn btn-light-green btn-sm rnd mt-3" href="/cuenta">Regresar</a>
        <div class="header pt-5">
            <h2 class="font-weight-normal font-italic text-center">Cambio de Contraseña</h2>
        </div>
        <div class="container pb-5 pt-5">
            <form action="/editarContrasena" method="POST">
                <div class="row border rounded pl-2 pr-2 pt-3 pb-2 mb-3 text-small">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="md-form">
                            <i class="fas fa-key prefix grey-text"></i>
                            <input type="password" id="USU_CONTRASENA" name="USU_CONTRASENA" class="form-control text-small" required>
                            <label for="USU_CONTRASENA" class="text-small">Contraseña Actual</label>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="md-form">
                            <i class="fas fa-key prefix grey-text"></i>
                            <input type="password" id="USU_CONTRASENA_NUEVA" name="USU_CONTRASENA_NUEVA" class="form-control text-small" required>
                            <label for="USU_CONTRASENA_NUEVA" class="text-small">Conttraseña Nueva</label>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="md-form">
                            <i class="fas fa-key prefix grey-text"></i>
                            <input type="password" id="USU_CONTRASENA_NUEVA_C" name="USU_CONTRASENA_NUEVA_C" class="form-control text-small">
                            <label for="USU_CONTRASENA_NUEVA_C" class="text-small"> Repetir Contraseña Nueva</label>
                        </div>
                    </div>
                </div>
                <div class="row border rounded-lg p-2 m-3">
                    <div class="col-sm-12 text-center">
                        <button type="button submit" class="rnd btn btn-blue-grey btn-sm mb-2">Cambiar
                            Contraseña</button>
                    </div>
                </div>
            </form>
        </div>

<br>
    </div>
</div>