<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Mi Panel</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="/panel" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            <a href="/addAnuncio" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-plus-circle mr-3"></i>Nuevo Anuncio
            </a>
            <a href="/listAnuncios" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="/listMensajes" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope-open mr-3"></i>Mensajes</a>
            <a href="/contactar" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Contáctese con Nosotros</a>
            <a href="/cuenta" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="/logout" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-panel white rounded-lg mb-5">
        <div class="header pt-5">
            <h2 class="font-weight-normal font-italic text-center">Bienvenido {{usuario.USU_NOMBRE}}</h2>
        </div>
        <h5 class="font-weight-normal font-italic text-center">Este es el panel personal de <b>Oportuno!</b>,
            donde prodrás:</h5>
        <div class="row">
            <div class="col-sm-6">
                <!-- Card Dark -->
                <div class="card m-3">
                    <!-- Card image -->
                     <div class="view overlay" style="background-color:  #8bc34a;">
                        <img class="card-img-top mx-auto d-block p-2"
                            style="width: 250px;" src="/imagenes/panel1.png"
                            alt="Card image cap">
                    </div>
                    <!-- Card content -->
                    <div class="card-body elegant-color white-text rounded-bottom">
                        <!-- Title -->
                        <h5 class="card-title">Crear un nuevo Anuncio</h5>
                        <hr class="hr-light">
                        <!-- Text -->
                        <p class="card-text white-text mb-4">Publica tu inmueble de venta o arriendo en nuestra página
                            web</p>
                        <!-- Link -->
                        <a href="/addAnuncio" class="white-text d-flex justify-content-end">
                            <h6>Crear <i class="fas fa-angle-double-right"></i></h6>
                        </a>
                    </div>
                </div>
                <!-- Card Dark -->
            </div>
            <div class="col-sm-6">
                <!-- Card Dark -->
                <div class="card m-3">
                    <!-- Card image -->
                    <div class="view overlay" style="background-color:  #8bc34a;">
                        <img class="card-img-top mx-auto d-block p-2"
                            style="width: 250px;" src="/imagenes/panel2.png"
                            alt="Card image cap">
                    </div>
                    <!-- Card content -->
                    <div class="card-body elegant-color white-text rounded-bottom">
                        <!-- Title -->
                        <h5 class="card-title">Administrar sus Anuncios</h5>
                        <hr class="hr-light">
                        <!-- Text -->
                        <p class="card-text white-text mb-4">Mira, edita, bloquea o elimina tus anuncios de forma fácil
                            y rápida</p>
                        <!-- Link -->
                        <a href="/listAnuncios" class="white-text d-flex justify-content-end">
                            <h6>Administrar <i class="fas fa-angle-double-right"></i></h6>
                        </a>
                    </div>
                </div>
                <!-- Card Dark -->
            </div>
            <div class="col-sm-6">
                <!-- Card Dark -->
                <div class="card m-3">
                    <!-- Card image -->
                    <div class="view overlay" style="background-color:  #8bc34a;">
                        <img class="card-img-top mx-auto d-block p-2"
                            style="width: 250px;" src="/imagenes/panel3.png"
                            alt="Card image cap">
                    </div>
                    <!-- Card content -->
                    <div class="card-body elegant-color white-text rounded-bottom">
                        <!-- Title -->
                        <h5 class="card-title">Ver Mensajes</h5>
                        <hr class="hr-light">
                        <!-- Text -->
                        <p class="card-text white-text mb-4">Vea los mensajes y póngase en contacto con los interesados
                            en los anuncios de sus inmuebles</p>
                        <!-- Link -->
                        <a href="/listMensajes" class="white-text d-flex justify-content-end">
                            <h6>Ver <i class="fas fa-angle-double-right"></i></h6>
                        </a>
                    </div>
                </div>
                <!-- Card Dark -->
            </div>
            <div class="col-sm-6">
                <!-- Card Dark -->
                <div class="card m-3">
                    <!-- Card image -->
                    <div class="view overlay" style="background-color:  #8bc34a;">
                        <img class="card-img-top mx-auto d-block p-2"
                            style="width: 250px;" src="/imagenes/panel4.png"
                            alt="Card image cap">
                    </div>
                    <!-- Card content -->
                    <div class="card-body elegant-color white-text rounded-bottom">
                        <!-- Title -->
                        <h5 class="card-title">Contáctese con nosotros</h5>
                        <hr class="hr-light">
                        <!-- Text -->
                        <p class="card-text white-text mb-4">Si desea poner su anuncio como destacado o tiene alguna
                            sugerencia, no dude en decirnos</p>
                        <!-- Link -->
                        <a href="/contactar" class="white-text d-flex justify-content-end">
                            <h6>Contactar <i class="fas fa-angle-double-right"></i></h6>
                        </a>
                    </div>
                </div>
                <!-- Card Dark -->
            </div>
        </div>
    </div>
</div>