<div class="container mt-5 pt-5 mb-5 pb-5 pl-5 pr-5 align-middle">
    <div class="card mt-5 mb-5 rounded-lg" style="background-color: #123b61dc;">
        <!-- Default form login -->
        <form class="text-center border border-light p-5" action="/admnLogin" method="POST">
            <img  src="/logo_empresa/{{empresa.EMP_LOGO}}" class="rounded mx-auto" style="width: 400px;" >

            <p class="h4 mb-4 text-white">Iniciar Sesi칩n de Administraci칩n</p>

            <!-- Email -->
            <input type="text" id="admin_usuario" name="admin_usuario" class="form-control mb-4" placeholder="Usuario" required>

            <!-- Password -->
            <input type="password" id="admin_contrasena" name="admin_contrasena" class="form-control mb-4" placeholder="Contrase침a" required>

               <div class="d-flex justify-content-around">
                <div>
                    <!-- Forgot password -->
                    <a href="/adminrecuperar"> <span class="text-white">Olvido su contrase침a?</span> </a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-light-green btn-block my-4 rnd" type="submit">Sign in</button>

        </form>
        <!-- Default form login -->
    </div>
    <div class="container m-5 p-4"></div>

</div>